* { margin: 0; }

.panel {
  position: relative;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#main {
  margin-top: 20px;
}

#beatShowPanel {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#beatCountPanel {
  margin-bottom: 20px;
}
#beatCountPanel span {
  font-style: italic;
}

#beatSnapPanel {
  margin-bottom: 20px;
}

#memterPanel {
  margin-bottom: 20px;
}

#timingPanel {
  margin-bottom: 20px;
}

#bpm {
  width: 60px;
}

#offset {
  width: 80px;
}

