.panel {
  position: relative;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#main {
  margin-top: 100px;
}

#beatShowPanel {
  width: 100%;
  height: 90px;
  margin: 0 auto;
  margin-bottom: 40px;
}

#memterPanel {
  margin-bottom: 40px;
}

#timingPanel {
  margin-bottom: 40px;
}

#bpm {
  width: 60px;
}

#offset {
  width: 80px;
}
