.panel {
  position: relative;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#main {
  margin-top: 30px;
}

#beatShowPanel {
  width: 100%;
  height: 90px;
  margin: 0 auto;
  margin-bottom: 40px;
}

#memterPanel {
  margin-bottom: 30px;
}

#timingPanel {
  margin-bottom: 30px;
}

#bpm {
  width: 60px;
}

#offset {
  width: 80px;
}

.circle {
  width: 130px;
  height: 130px;
  line-height: 130px;
  border: 1px solid gray;
  border-radius: 130px;
  text-align: center;
  margin: 0 auto;
}